<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <svg>
    <rect id="targetRect" width="300" height="100" style="fill:blue"></rect>
</svg> 
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th>Color</th>
    </tr>
    <% results.forEach(function(r) { %>
      <%= var link = 'rectangle/' + r.name;  %>
      <td><%= r.id %></td>
      <td><a href="rectangle/"><%= r.name %></a></td>
      <td><%= r.width %></td>
      <td><%= r.height %></td>
      <td><%= r.color %></td>
    </tr>
    <% }); %>
  </table>

  <button><a href="/database">Return</a></button>

  
  <form method="post">
    <button>Delete this rectangle?</button>
  </form>
  </div>
</body>
</html>
