<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <!-- display rect -->
  <svg>
    <rect width="300" height="100" style="fill:blue"></rect>
</svg> 
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %></li>
        <li><a href="/rectangles/:name"><%= r.name %></a></li>
        <li><%= r.color %></li>
      </tr>
    <% }); %>
</ul>
  <button><a href="/database">Return</a></button>
  </div>
</body>
</html>
