<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <svg>
    <% results.forEach(function(r) { %>
    <rect id="targetRect" width="<%= r.width %>%" height="<%= r.height %>%" style="fill:blue"></rect>
    <% }); %>
</svg> 
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th>Color</th>
    </tr>
    <% results.forEach(function(r) { %>
      <td><%= r.id %></td>
      <td><%= r.name %></td>
      <td><%= r.width %></td>
      <td><%= r.height %></td>
      <td><%= r.color %></td>
    </tr>
    <% }); %>
  </table>

  <button><a href="/database">Return</a></button>
  
  <form method="post">
    <button value="edit">Edit this rectangle</button>
    <button value="delete">Delete this rectangle?</button>
  </form>
  </div>
</body>
</html>
