<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <h1>DETAILED RECTANGLE LIST</h1>
  <table id ="rectangleList">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th>Color</th>
    </tr>
    <% results.forEach(function(r) { %>
      <td><%= r.id %></td>
      <td><a href="<%= 'rectangles/' + r.name %>"><%= r.name %></a></td>
      <td><%= r.width %></td>
      <td><%= r.height %></td>
      <td><%= r.color %></td>
    </tr>
  <% }); %>
  </table>
  <button><a href="/database">Return</a></button>
  </div>
</body>
</html>
