<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <!-- display rect -->
  <svg>
    <rect width="300" height="100" style="fill:blue"></rect>
</svg> 
<ul>
    <% results.forEach(function(r) { %>
        <li>Name: <%= r.name %></li>
        <li>Width: <%= r.width %></li>
        <li>Height: <%= r.height %></li>
        <li>Color: <%= r.color %></li>
      </tr>
    <% }); %>
</ul>
  <button><a href="/database">Return</a></button>
  </div>
</body>
</html>
